.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;
}

body{
	background-color: rgb(139, 139, 139);
}

h1{
	text-align: center;
	font-size: 30px;
	padding: 5px;
	text-transform: uppercase;
	letter-spacing: 8px;
	text-shadow: 2px 2px 5px black;
}

h2{
	text-align: center;
	font-size: 20px;
	padding: 10px;
	letter-spacing: 5px;
	text-shadow: 1px 1px 3px rgb(32, 28, 28);
}

[class*="main__body"]{
	width: 250px;
	height: 250px;
	background-color: rgb(87, 85, 85);
	margin: 0 auto;
}

[class*="main__item"]{
	width: 250px;
	height: 250px;
	background-color: rgb(180, 177, 177);
	margin: 0 auto;
}

.main__translate-block .main__item:hover{
	transform: translate(30%,30%);
}

.main__scale-block .main__item:hover{
	transform: scale(0.5,0.5);
}

.main__rotate-block .main__item:hover{
	transform: rotate(50deg);
}

.main__skew-block .main__item:hover{
	transform: skew(-20deg,40deg);
}

.main__matrix-block .main__item:hover{
	transform: matrix(0.5, 0.1, 0.1, 0.5, 20, 45);
}

.main__origin-block .main__item:hover{
	transform-origin: 0 0;
	transform: rotate(25deg);
}

.main__perspective-block .main__body{
	perspective: 150px;
	perspective-origin: center;
}

.main__perspective-block .main__item:hover{
	transform: rotateX(30deg);
}

.main__translate3d-block .main__body{
	perspective: 150px;
}

.main__translate3d-block .main__item:hover{
	transform: translate3d(50px, 50px, 50px);
}

.main__style-block .main__body{
	perspective: 150px;
	transform-style: preserve-3d;
}

.main__style-block .main__item:hover{
	transform: rotateY(20deg);
}